body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ADD8E6;
}

.battery {
    width: 150px;
    height: 80px;
    border: 2px solid black;
    position: relative;
    background-color: gray;
    overflow: hidden;
}
.tapa {
    width: 10px;  
    height: 40px;
    left: 795px;
    background-color: black;
    position: absolute;
}
.loading {
    position: absolute;
    width: 2%;
}
.charge {
    height: 100%;
    background-color: blue;
    animation: carga 5s infinite;
}

@keyframes carga {
    from {
        width: 0; /* Comienza vacío */
    }
    to {
        width: 100%; /* Llena completamente */
    }
}

.cancelar {
    background-color: gray;
    color: blue;
    position: absolute;
    top: 58%;
    left: 646px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    border-color: black;
    border-radius: 20px;

}